.strategy-btn-group {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr 1fr 1fr;
}

.strategy-btn {
  background: #999;
  font-weight: bolder;
  transition: 0.25s;
}

.active-strategy-btn {
  background: gold;
  color: #1a1a1a;
}

.waiting-text {
  color: wheat;
}

.win-text {
  color: lightgreen;
}

.lose-text {
  color: darkred;
}

@media screen and (max-width: 900px) {
  .strategy-btn-group {
    grid-template-columns: auto;
  }
}
