.app {
  margin: auto;
  max-width: 1040px;
  padding: 2rem;
  text-align: center;
}

.header {
  margin-bottom: 2em;
}

.header-title {
  margin-bottom: 0.5em;
}

.header-subtitle {
  font-style: italic;
  margin-bottom: 0.5em;
}

.contract-address {
  background: #333;
  color: antiquewhite;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card {
  align-content: start;
  background: #666;
  border-radius: 8px;
  display: grid;
  gap: 1em;
  padding: 1em;
}

.text-left {
  text-align: left;
}

.container {
  display: grid;
  gap: 2em;
  grid-template-columns: 1fr 1fr;
}

@media screen and (max-width: 900px) {
  .container {
    grid-template-columns: auto;
  }
}
