.app {
  display: grid;
  gap: 2em;
  margin: auto;
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
}

.card {
  background: #666;
  border-radius: 8px;
  display: grid;
  gap: 1em;
  padding: 1em;
}

.text-left {
  text-align: left;
}
